<div id="data">
    <% if (user) { %>
        <input id="user" value="<%= user %>" type="hidden">
        <input id="userRole" <% if (user.role) { %> value="<%= user.role %>" <% } %> type="hidden">
    <% } else { %>
        <input id="user" value="" type="hidden">
        <input id="userRole" value="" type="hidden">
    <% } %>
</div>