<a href="/" class="text-center">
    <img id="kfupm-logo" src="/img/kfupm-logo.jpg" alt="">
</a>
<nav>
    <ul>
        <% if (user) { %>
            <li><a id="user-profile" href="/profile">Profile</a></li>
            <li><a id="user-logout" href="/auth/logout">Logout</a></li>
            <% if (user.role === 'president') { %>
                <li><a id="nav-manage-users" href="#">Manage Users</a></li>
            <% } %>
            <% if (user.role && (user.role === 'manager' || user.role === 'president')) { %>
                <li><a id="nav-new-post" href="#">New Post</a></li>
                <li><a id="nav-new-event" href="#">New Event</a></li>
                <li><a id="nav-manage-events" href="#">Manage Events</a></li>
                <li><a id="nav-manage-posts" href="#">Manage Posts</a></li>
            <% } %> 
            <% if (user.role && user.role === 'member') { %>
                <!-- Nothing different for member -->
            <% } %>
            <% if (user.isAdmin) { %>
                <li><a id="nav-manage-clubs" href="/admin/clubs">Manage Clubs</a></li>
                <li><a id="nav-new-club" href="/admin/club-new">Create New Club</a></li>
            <% } %>
        <% } else { %>
            <li><a id="user-login" href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Signup</a></li>
        <% } %>

    </ul>
</nav>
