<!--<a href="/" class="text-center">
    <img id="kfupm-logo" src="/img/kfupm-logo.jpg" alt="">
</a>-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/" id="nav-home">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class=""><a href="/clubs" id="nav-clubs">Clubs</a></li>
        <% if (user) {%>
         <% if (user.role && (user.role === 'manager' || user.role === 'president') || user.isAdmin) { %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span id="nav-create">Create</span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if (user.role && (user.role === 'manager' || user.role === 'president')) { %>
            <li><a id="nav-new-post" href="#">New Post</a></li>
            <li><a id="nav-new-event" href="#">New Event</a></li>
            <% } %>
            <% if (user.isAdmin) { %>
            <li><a id="nav-new-club" href="/admin/club-new">Create New Club</a></li>
            <% } %>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span id="nav-manage">Manage</span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if (user.role === 'president') { %>
            <li><a id="nav-edit-club" href="#">Edit Club</a></li>
            <li><a id="nav-manage-users" href="#">Manage Users</a></li>
            <% } %>
            <% if (user.role && (user.role === 'manager' || user.role === 'president')) { %>
            <li><a id="nav-manage-posts" href="#">Manage Posts</a></li>
            <li><a id="nav-manage-events" href="#">Manage Events</a></li>
            <% } %>
            <% if (user.isAdmin) { %>
            <li><a id="nav-manage-clubs" href="/admin/clubs">Manage Clubs</a></li>
            <% } %>
          </ul>
        </li>
        <% } %>
        <!-- <li><a href="#">Page 2</a></li> -->
        <!-- <li><a href="#">Page 3</a></li> -->
        <% } %>
      </ul>
      <ul class="nav navbar-nav" id="nav-other-end">
        <% if (user) {%>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> <%= user.username %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile" id="nav-profile">Profile</a></li>
            <li><a href="/auth/logout" id="nav-logout">Logout</a></li>
          </ul>
        </li>
        <%} else {%>
        <li><a href="#" id="login"><span class="glyphicon glyphicon-log-in"></span> <span id="nav-login">Login</span></a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<script src="/js/navbar.js" defer></script>