	<% include ./partials/head.ejs %>
	<title>Club</title>
	<!-- <link rel="stylesheet" href="/css/index.css"> -->
	
</head>
<body>
	<% include ./partials/navbar.ejs %>
	<div class="container">
		<div id="errors"></div>
		<h1>Club</h1>
		<h2 id="preview-name"></h2>
		<img src="" id="logo-image" class="img-responsive center-block" alt="Club Logo">
		<div id="preview-description"></div>

		<form id="form">
			<div class="form-group">
				<input id="name" name="name" class="form-control" type="text" placeholder="Club Name.." <%if (club){%> value="<%= club.name %>"<%}%> required>
			</div>
			<div class="form-group">
				<input id="logo" name="logo" class="form-control" type="url" placeholder="Logo URL.." <%if (club){%> value="<%= club.logo %>"<%}%> required>
			</div>
			<div class="form-group">
				<textarea id="description" name="description" class="form-control" placeholder="Description.." required><%if (club){%><%=club.description%><%}%></textarea>
			</div>
			<button id="btn-submit" class="btn btn-success">Submit</button>
		</form>
		
	</div>

	<% include ./partials/footer.ejs %>
	<% include ./partials/scripts.ejs %>
	<script src="https://cdn.rawgit.com/showdownjs/showdown/1.4.3/dist/showdown.min.js"></script>
	<script src="/js/club-edit.js"></script>
</body>
</html>