	<% include partials/head.ejs %>
	<title>Club</title>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/club.css">
</head>
<body>

	<% include ./partials/navbar.ejs %>

	<!-- We are using Bootstrap 3 -->
	<div class="container" id="content">
		<img id="logo" src="" class="img-responsive center-block" alt="Club Logo">
		<div class="row">
			<div class="col-md-6">
				<button id="btn-join" class="btn btn-lg btn-success"><i class="glyphicon glyphicon-check"></i> <span id="join-text"></span></button>
			</div>
			<div class="col-md-6" id="social">
				<!-- Social Media Buttons -->
			</div>
		</div>
		
		
		<hr/>
		<div class="row">
			<div class="col-sm-6 col-md-8">
				<h1 class="text-center" id="h-events">Events</h1>
				<div id="events">
					<!-- Events -->
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<h1 class="text-center" id="h-posts">Posts</h1>
				<div id="posts">
					<!-- Posts -->
				</div>
			</div>
		</div>
		
		<hr/>
		
		<h3 id="club-name"></h3>
		<div id="description">
			<!-- Description -->
		</div>

		
		
	</div>

	<% include ./partials/footer.ejs %>
	<% include ./partials/scripts.ejs %>
	<script>
		// This is essential to recognize user role
		const user = <%- JSON.stringify(user) %>
		<%if (user) {%>
			if (user) {user.role = "<%=user.role%>"}
		<%}%>
	</script>
	<script src="/js/club.js"></script>
</body>
</html>
