	<% include partials/head.ejs %>
	<title>Club</title>
	<link rel="stylesheet" href="/css/club.css">
</head>
<body>

	<% include ./partials/navbar.ejs %>

	<!-- We are using Bootstrap 3 -->
	<div class="container" id="content">
		<img id="logo" src="" class="img-responsive center-block" alt="Club Logo">
		<button id="btn-join" class="btn btn-lg btn-success"><i class="glyphicon glyphicon-check"></i> Join the <span id="members-count"></span> members</button>
		
		<hr/>
		<div class="row">
			<div class="col-sm-6 col-md-8">
				<h3 class="text-center">Events</h3>
				<div id="events">
					<!-- Events -->
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<h3 class="text-center">Posts</h3>
				<div id="posts">
					<!-- Posts -->
				</div>
			</div>
		</div>
		
		<hr/>

		<div id="description">
			<!-- Description -->
		</div>

		
		
	</div>

	<% include ./partials/footer.ejs %>
	<% include ./partials/scripts.ejs %>
	<script>
		// This is essential to recognize user role
		const user = <%- JSON.stringify(user) %>
		<%if (user) {%>
			if (user) {user.role = "<%=user.role%>"}
		<%}%>
	</script>
	<script src="/js/club.js"></script>
</body>
</html>
