	<% include partials/head.ejs %>
	<title>Club</title>
	<link rel="stylesheet" href="/css/club.css">

</head>
<body>

	<% include ./partials/navbar.ejs %>

	<div class="container-fluid" id="title">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 id="name"></h1>
				</div>
			</div>
		</div>
	</div>

	<div class="container" id="section1">
		<img id="logo" src="<%if (club) {%><%=club.logo%><%}%>" class="img-responsive center-block" alt="Club Logo">
		
		<div class="row">
			<div class="col-md-6">
				<h3 class="text-center">Posts</h3>
				<ul id="posts-list">
					
				</ul>
			</div>
			<div class="col-md-6">
				<h3 class="text-center">Events</h3>
				<ul id="events-list">
					
				</ul>
			</div>
		</div>
		
		<hr>

		<h2>Description</h2>
		<div id="description"></div>

		<div id="join"></div>
		
		

		
	</div>


	
	<% include ./partials/footer.ejs %>
	
	<script>
		const club = <%- JSON.stringify(club) %>
		const user = <%- JSON.stringify(user) %>
		<% if (user) { %>
			 user.role = <%- JSON.stringify(user.role) %>
		<% } %>
	</script>
	<% include ./partials/scripts.ejs %>
	<script src="https://cdn.rawgit.com/showdownjs/showdown/1.4.3/dist/showdown.min.js"></script>
	<script src="/js/club.js"></script>
</body>
</html>
