	<% include ./partials/head.ejs %>
	<title>Event</title>
	<link rel="stylesheet" href="/css/event.css">

</head>
<body>
	<% include ./partials/navbar.ejs %>
	<div class="container">
		<h1 id="title"></h1>
		<h6>Published <span id="published"></span></h6>
		<ul id="info">
			<li><i class="glyphicon glyphicon-calendar"></i> <span id="date"></span></li>
			<li><i class="glyphicon glyphicon-time"></i> <span id="time"></span></li>
			<li><i class="glyphicon glyphicon-map-marker"></i> <span id="location"></span></li>
      <li><i class="glyphicon glyphicon-user"></i> <span id="attendees"></span></li>
		</ul>


      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-6">
              <h3 class="panel-title">Attendance</h3>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-list">
            <thead>
              <tr>
                <th class="text-center">Attended</th>
                <th>User Name</th>
                <th>Major</th>
                <th>KFUPMID</th>
              </tr> 
            </thead>
            <tbody>
              
            </tbody>
          </table>
          
        </div>
      </div>

      <div class="row text-center">
        <button id="btn-submit" class="btn btn-lg btn-success">Update Attendance</button>
      </div>

    </div>

	</div>

	<% include ./partials/footer.ejs %>

  <script>
    const event = <%- JSON.stringify(event) %>
		const user = <%- JSON.stringify(user) %>
		<% if (user) { %>
			user.role = <%- JSON.stringify(user.role) %>
		<% } %>
  </script>
	<% include ./partials/scripts.ejs %>
	<script src="/js/event-attendance.js"></script>
</body>
</html>
