	<% include ./partials/head.ejs %>
	<title>Event</title>
	<link rel="stylesheet" href="/css/event.css">

</head>
<body>
	<% include ./partials/navbar.ejs %>
	
	<div class="container">
		<h1 id="title"></h1>
		<h6>Published <span id="published"></span></h6>
		<ul id="info">
			<li><i class="glyphicon glyphicon-calendar"></i> <span id="date"></span></li>
			<li><i class="glyphicon glyphicon-time"></i> <span id="time"></span></li>
			<li><i class="glyphicon glyphicon-map-marker"></i> <span id="location"></span></li>
		</ul>
		<img src="<%=event.image%>" class="center-block img-responsive">
		<h3>Event Briefing</h3>
		<div id="brief"></div>
		
		<section id="section1"></section>
		
		<div class="row">
			<div id="section2" class="col-md-12 text-right"></div>
		</div>

		<div class="row">
			<div id="section3" class="col-md-12"></div>
		</div>		
	</div>

	<% include ./partials/footer.ejs %>

	<script>
		const event = <%- JSON.stringify(event) %>
		const user = <%- JSON.stringify(user) %>
		<% if (user) { %>
			user.role = <%- JSON.stringify(user.role) %>
		<% } %>
		console.log(event)
	</script>
	<% include ./partials/scripts.ejs %>
	<script src="/js/event.js"></script>
</body>
</html>
