	<% include ./partials/head.ejs %>
	<title>Event</title>
	<link rel="stylesheet" href="/css/event.css">

</head>
<body>
	<% include ./partials/navbar.ejs %>
	<script>
		const event = <%- JSON.stringify(event) %>
		const user = <%- JSON.stringify(user) %>
		user.role = <%- JSON.stringify(user.role) %>
	</script>
	
	<div class="container">
		<h1 id="title"></h1>
		<h6>Published <span id="published"></span></h6>
		<ul>
			<li><i class="glyphicon glyphicon-calendar"></i> <span id="date"></span></li>
			<li><i class="glyphicon glyphicon-time"></i></li>
			<li><i class="glyphicon glyphicon-map-marker"></i></li>
			<li id="membersOnly"></li>
		</ul>
		<h3>Event Briefing</h3>
		<div id="brief"></div>
		
		<section id="section1"></section>
		
		<div class="row">
			<div id="section2" class="col-md-12 text-right"></div>
		</div>		
	</div>

	<% include ./partials/footer.ejs %>
	<% include ./partials/scripts.ejs %>
	<script src="/js/event.js"></script>
</body>
</html>
