	<% include head.ejs %>
	<title>Club</title>
	<link rel="stylesheet" href="/css/index.css">

</head>
<body>

	<nav id="navbar" class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- <a class="navbar-brand" href="/clubs">Clubs</a> -->
					<a href="#" id="nav-home">
						<img id="kfupm-logo" src="/img/kfupm-logo.jpg" alt="">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<%if (user) {%>
						<li><a id="username"><%=user.name%></a></li>

						<li><a href="/logout" id="logout"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
						<%} else {%>
						<li><a href="/login" id="login">Login</a></li>
						<%}%>

					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row text-center">
			<a id="new-club" href="/clubs/create/club" class="btn btn-xs btn-default">Create New Club</a>
		</div>
		<h1 id="main" class="text-center">Here are all the clubs</h1>
		<div class="clubs-list text-center">

		</div>
	</div>

	<% include footer.ejs %>
	<% include scripts.ejs %>
	<script src="/js/index.js"></script>
</body>
</html>
