	<% include ./partials/head.ejs %>
	<title>Homepage</title>
	<link rel="stylesheet" href="/css/index.css">

</head>
<body>

	<% include ./partials/navbar.ejs %>

	<div class="container">
		<h1 id="main" class="text-center">Here are all the clubs</h1>
		<div id="clubs-joined" class="row"></div>
		<hr>
		<div id="clubs" class="row"></div>
	</div>

	<% include ./partials/footer.ejs %>
	<script>
		const user = <%- JSON.stringify(user) %>
		<%if (user){%>
			user.role = "<%=user.role%>"
		<%}%>
	</script>
	<% include ./partials/scripts.ejs %>
	<script src="/js/index.js"></script>
</body>
</html>
