	<% include ./partials/head.ejs %>
	<title>Homepage</title>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<% include ./partials/navbar.ejs %>
	<div class="container">
		<h1 class="text-center">Events</h1>
		<div id="events" class="row"></div>
		<h1 class="text-center hidden-xs hidden-sm">Posts</h1>
		<div id="posts" class="row"></div>
	</div>

	<% include ./partials/footer.ejs %>
	<script>
		const user = <%- JSON.stringify(user) %>
		<%if (user){%>
			user.role = "<%=user.role%>"
		<%}%>
	</script>
	<% include ./partials/scripts.ejs %>
	<script src="/js/index.js"></script>
</body>
</html>
