	<% include ./partials/head.ejs %>
	<title>Login</title>
	<!-- <link rel="stylesheet" href="/css/index.css"> -->
	
</head>
<body>
	<% include ./partials/navbar.ejs %>
	<div class="container">	
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<h1 id="h-login">Login</h1>
				<form method="POST">
					<div class="form-group">
						<input type="email" name='email' placeholder='Email' dir="ltr" class="form-control" maxlength="100" autofocus required>
					</div>
					<div class="form-group">
						<input type="password" name='password' placeholder='Password' dir="ltr" class="form-control" maxlength="100" required>
					</div>
					<input type="hidden" name="_csrf" value="<%=_csrf%>">
					<button type="submit" class="btn btn-success" id="btn-login">Login</button>
					<a href="/auth/signup" id="signup">Signup</a>
				</form>
			</div>
		</div>
	</div>

	<% include ./partials/footer.ejs %>
	<% include ./partials/scripts.ejs %>
	<script src="/js/login.js"></script>
</body>
</html>