	<% include ./partials/head.ejs %>
	<title>Post</title>
	<!-- <link rel="stylesheet" href="/css/index.css"> -->
</head>
<body>
	<% include ./partials/navbar.ejs %>
	<div class="container">
		<div class="row">
			<h1 id="title"></h1>
			<h6 id="posted"></h6>
		</div>

		<div class="row">
			<div id="content"></div>
		</div>

		<div class="row">
			<section id="section1"></section>
		</div>
	</div>

	<% include ./partials/footer.ejs %>
	<% include ./partials/scripts.ejs %>
	<script>
		const user = <%- JSON.stringify(user) %>
		<% if (user) { %>
			user.role = <%- JSON.stringify(user.role) %>
		<% } %>
	</script>
	<script src="/js/post.js"></script>
</body>
</html>
