	<% include ./partials/head.ejs %>
	<title>Post</title>
	<!-- <link rel="stylesheet" href="/css/index.css"> -->

</head>
<body>
	<% include ./partials/navbar.ejs %>
	<div class="container">
		<div id="errors"></div>

		<img src="" id="preview-image" class="img-responsive center-block" alt="Post Image">

		<h2 id="preview-title"></h2>
		<div id="preview-content"></div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<input id="title" name="title" class="form-control" type="text" placeholder="Post Title.." required>
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i> URL</span>
					<input id="image" name="image" class="form-control" type="url" placeholder="Post Image URL..">
				</div>
			</div>
		</div>
		<div class="form-group">
			<textarea id="content" class="form-control" placeholder="Content.." required></textarea>
		</div>
		<div class="form-group">
			<input type="checkbox" id="sentAsEmail">
			<span>Also Send an Email to all members</span>
		</div>
		<% if (post) { %>
			<button id="btn-submit-edit" class="btn btn-success">Submit Edit</button>
			<button id="btn-delete" class="btn btn-danger">Delete</button>
		<% } else { %>
			<button id="btn-create" class="btn btn-success">Create Post</button>
		<% } %>

	</div>

	<% include ./partials/footer.ejs %>

	<script>
		const post = <%- JSON.stringify(post) %>
		const user = <%- JSON.stringify(user) %>
		<% if (user) { %>
			user.role = <%- JSON.stringify(user.role) %>
		<% } %>
	</script>
	<% include ./partials/scripts.ejs %>
	<script src="/js/lib/moment.js"></script>
	<script src="/js/post-edit.js"></script>
</body>
</html>
