	<% include ./partials/head.ejs %>
	<title>Post</title>
	<!-- <link rel="stylesheet" href="/css/index.css"> -->

</head>
<body>
	<% include ./partials/navbar.ejs %>
	<div class="container">
		<h1 id="title"><%= post.title %></h1>
		<h6>Posted <span id="posted"><%=post.publishDate%></span></h6>
		<div id="content"><%= post.content %></div>
	</div>

	<% include ./partials/footer.ejs %>
	<!--  include ./partials/scripts.ejs  -->
	<!-- <script src="/js/post.js"></script> -->
</body>
</html>
