	<% include ./partials/head.ejs %>
	<title>Post</title>
	<!-- <link rel="stylesheet" href="/css/index.css"> -->

</head>
<body>
	<% include ./partials/navbar.ejs %>
	<div class="container">
		<h1 id="title"></h1>
		<h6>Posted <span id="posted"></span></h6>
		
		<div class="row">
			<div id="content"></div>
		</div>

		<div class="row">
			<section id="section1"></section>
		</div>
	</div>



	<% include ./partials/footer.ejs %>

	<script>
		const post = <%- JSON.stringify(post) %>
		const user = <%- JSON.stringify(user) %>
		<% if (user) { %>
			user.role = <%- JSON.stringify(user.role) %>
		<% } %>
		console.log(post)
	</script>
	<% include ./partials/scripts.ejs %>
	<script src="/js/post.js"></script>
</body>
</html>
