	<% include head.ejs %>
	<title>Profile</title>
	<!-- <link rel="stylesheet" href="/css/index.css"> -->
	
</head>
<body>
	<div class="container">

		<h1>Profile</h1>
		<ul>
			<li>Name: <%=user.name%></li>
			<li>Major: <%=user.major%></li>
			<li>Enrollment date: <%=user.enrollment%></li>
		</ul>
		<a href="/clubs" class="btn btn-default">Index Page</a>

	</div>

	<% include footer.ejs %>
	<% include scripts.ejs %>
<!-- 	<script src="https://cdn.rawgit.com/showdownjs/showdown/1.4.3/dist/showdown.min.js"></script>
	<script src="/js/club.js"></script> -->
</body>
</html>